body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	margin: 0;
}
/* estilos menu principal */
.footer_main {
float: none;
height: 93%;
margin: auto;
height: 50px;
}

.title_user{
float: right;
color: white;
}

footer {
background-color: green;
	}

.nav_main{
background: rgb(51, 51, 51);
}

nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li{
	line-height: 3rem;
	position: relative;
}
nav li ul{
	position: absolute;
}
nav a{
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: .4s;
}
nav a:hover {
	/* background: rgba(0,0,0,.5); */
		background: grey;
		color: black;
		border-width: 2px;
		border-style: solid;
		border-color: WHITE;
}

nav li ul{
	display: none;
}

nav li:hover >ul{
	display: block;
}

/* primer nivel */
nav > ul {
	background: #333;
	display: table;
}
nav > ul > li {
	float: left;
}

/* segundo nivel */
nav li li {
	background: #222;
	width: 250px;
}

nav >ul >li >ul {
	top:100%
}

/* tercer nivel */
nav ul ul ul {
	left: 100%;
	top: 0;
}
