*{
	margin: 0px;
	padding: 0px;
}
#DivLogoInst{
	margin: 10px;
    width: 100px;	
}
#DivTitFrm1Ing{
	margin: 0 auto;
    width: 700px;		
	color: #02124F;
}
#LogoInst {
	/*margin: 0 auto;*/
	/*margin-right: 300px;*/
    width: 100px;
}
#aTitulo{
	font-size: 30px;		
	text-align: center;
}
#frm1{
	    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 500px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}